@import "node_modules/nord/src/sass/nord.scss";
.check-mark {
  position: relative;
  cursor: pointer;
  width: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 4px;
  border: 1px solid $nord0;
  .check-mark-icon {
    position: absolute;
    width: 30px;
    top: -6px;
  }
}
