@import "node_modules/nord/src/sass/nord.scss";
.search {
  position: relative;
  display: flex;
  flex-direction: row;
  .search-icon {
    width: 20px;
    margin-right: 4px;
  }
  .search-input {
    margin-left: 4px;
    padding: 8px;
    flex-grow: 1;
    border: 1px solid $nord1;
    border-radius: 4px;
    outline: none;
    &:focus {
      outline: none;
    }
  }
}
