@import "node_modules/nord/src/sass/nord.scss";

$check-green: #a5eb78;

.app {
  font-family: "Rubik";
  .app-header {
    display: flex;
    flex-direction: row;
    background: #16316e;
    background: linear-gradient(135deg, #16316e, #457ccf);
    display: flex;
    font-size: 48px;
    font-weight: bold;
    padding: 8px 18px;
    color: white;
    .site-logo {
      flex-grow: 0;
      width: 45px;
    }
    .site-title {
      flex-grow: 1;
      text-align: left;
      margin-left: 18px;
    }
  }
  .create-exercise-btn {
    position: fixed;
    z-index: 2;
    bottom: 42px;
    right: 42px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $check-green;
    cursor: pointer;
    &:hover {
      transform: scale(1.25);
    }
    .plus-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 36px;
    }
  }
  .lists-wrapper {
    display: flex;
    flex-direction: row;
    .list-header {
      display: flex;
      flex-direction: row;
      max-height: 60px;
      font-size: 24px;
      text-align: center;
      padding: 16px 0;
      .list-name {
        text-align: left;
        flex-grow: 0;
      }
      .search {
        margin-left: 18px;
        flex-grow: 1;
      }
      .slider-and-title {
        font-size: 14px;
        margin: 0 18px;
        display: flex;
        flex-direction: row;
        .title {
          margin-right: 18px;
          align-self: center;
        }
      }
    }
    .exercise-list,
    .my-list {
      flex: 1;
      margin: 18px;
    }
  }
}
